[Desktop Entry]
Version=1.0
Type=Application
Name=Config
Comment=
Exec=xfce4-settings-manager
Icon=configure
Path=
Terminal=false
StartupNotify=false
